<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>


</head>

<body ng-app="ToDoList">
    <div ng-controller="MainController">
        <div ng-repeat="item in list">
            <li>{{ item }}</li>
        </div>
        <input ng-model="add">
        <button ng-click="additem()">ADD</button>
    </div>


    <script src="./app.js"></script>
    <script src="./MainController.js"></script>
</body>
<!-- MADE BY THIRISHUL ASOKAN -->
</html>